RewriteEngine On

RewriteBase /rindrandakilasy/public/

# Si le fichier demandé n'existe pas physiquement
RewriteCond %{REQUEST_FILENAME} !-f
# Et si le dossier n'existe pas non plus
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger toutes les requêtes vers index.php
RewriteRule ^ index.php [QSA,L]
